In [1]:
import pandas as pd

from py_ball import league

HEADERS = {'Connection': 'close',
           'Host': 'stats.nba.com',
           'Origin': 'http://stats.nba.com',
           'Upgrade-Insecure-Requests': '1',
           'Referer': 'stats.nba.com',
           'x-nba-stats-origin': 'stats',
           'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_2)' + \
                         'AppleWebKit/537.36 (KHTML, like Gecko) ' + \
                         'Chrome/66.0.3359.117 Safari/537.36'}

pd.options.mode.chained_assignment = None  # Disabling pandas SetWithCopyWarnings

In [2]:
league_id = '10' #NBA
season = '2019'

players = league.League(headers=HEADERS,
                        endpoint='commonallplayers',
                        league_id=league_id,
                        season=season)
player_df = pd.DataFrame(players.data['CommonAllPlayers'])
player_df.head(15)

,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,FROM_YEAR,GAMES_PLAYED_FLAG,IS_NBA_ASSIGNED,NBA_ASSIGNED_TEAM_ID,PERSON_ID,PLAYERCODE,ROSTERSTATUS,TEAM_ABBREVIATION,TEAM_CITY,TEAM_CODE,TEAM_ID,TEAM_NAME,TO_YEAR
0,Natalie Achonwa,"Achonwa, Natalie",2015,Y,0,0,203831,natalie_achonwa,1,IND,Indiana,fever,1611661325,Fever,2019
1,Rebecca Allen,"Allen, Rebecca",2015,Y,0,0,204296,rebecca_allen,1,NYL,New York,liberty,1611661313,Liberty,2019
2,Kristine Anigwe,"Anigwe, Kristine",2019,Y,0,0,1629485,kristine_anigwe,1,CON,Connecticut,sun,1611661323,Sun,2019
3,Ariel Atkins,"Atkins, Ariel",2018,Y,0,0,1628878,ariel_atkins,1,WAS,Washington,mystics,1611661322,Mystics,2019
4,Seimone Augustus,"Augustus, Seimone",2006,Y,0,0,200671,seimone_augustus,1,MIN,Minnesota,lynx,1611661324,Lynx,2019
5,Rachel Banham,"Banham, Rachel",2016,Y,0,0,1627671,rachel_banham,1,CON,Connecticut,sun,1611661323,Sun,2019
6,Alana Beard,"Beard, Alana",2004,Y,0,0,100949,alana_beard,1,LAS,Los Angeles,sparks,1611661320,Sparks,2019
7,Alex Bentley,"Bentley, Alex",2013,Y,0,0,203410,alex_bentley,1,ATL,Atlanta,dream,1611661330,Dream,2019
8,Tiffany Bias,"Bias, Tiffany",2014,Y,0,0,203839,tiffany_bias,1,NYL,New York,liberty,1611661313,Liberty,2019
9,Monique Billings,"Billings, Monique",2018,Y,0,0,1628881,monique_billings,1,ATL,Atlanta,dream,1611661330,Dream,2019
10,Sue Bird,"Bird, Sue",2002,Y,0,0,100720,sue_bird,1,SEA,Seattle,storm,1611661328,Storm,2019
11,DeWanna Bonner,"Bonner, DeWanna",2009,Y,0,0,201886,dewanna_bonner,1,PHO,Phoenix,mercury,1611661317,Mercury,2019
12,Brittany Boyd,"Boyd, Brittany",2015,Y,0,0,204327,brittany_boyd,1,NYL,New York,liberty,1611661313,Liberty,2019
13,Jessica Breland,"Breland, Jessica",2011,Y,0,0,202638,jessica_breland,1,ATL,Atlanta,dream,1611661330,Dream,2019
14,Kalani Brown,"Brown, Kalani",2019,Y,0,0,1629480,kalani_brown,1,LAS,Los Angeles,sparks,1611661320,Sparks,2019

In [3]:
len(player_df)

152